.SpinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--chime-sdk-widget-content-height);
}

.SpinnerContainer__spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #047d95;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
