.VideoPlaceholder {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 1rem;
}

.VideoPlaceholder__title {
  text-align: center;
  white-space: pre-wrap;
  white-space: break-spaces;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}