.phi {
  background: #999999;
}

.condition {
  background: #5cceff;
}

.anatomy {
  background: #d185af;
}

.medication {
  background: #f0e442;
}

.treatment {
  background: #44aa99;
<<<<<<< HEAD
}
=======
}
>>>>>>> fd93f5bbb41fc9082758a231d3888d823ddb8cc1
